.git/*
**/__pycache__/
tests/
.vscode/
.cursor/
advanced_optimizations.py
environment.yml
install_safetensors.py
manage_quantized_models.py
quantization_config.py
quantize_model.py
README_OPTIMIZATIONS_FINAL.md
README_optimizations_VRAM.md
README_quantization.md
README_VRAM_troubleshooting.md
test.mp4
test_optimizations_final.py
test_vram_optimizations.py
vram_diagnostic.py
VRAM_OPTIMIZATIONS_SUMMARY.md