einops                   # Tensor operations
omegaconf==2.3.0                # Configuration system.
diffusers               # Diffusers
torchvision             # Torchvision
pytorch-extension #pytorch extension
rotary_embedding_torch
